<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <!-- <title>Document</title> -->
    <style>
       body {
        background-color: #e5e5e5;
        padding-top: 1rem;
       }

       .wrapper {
        background-color: #fff;
        width: 80%;
        padding: 1rem;
        margin: auto;
       }
   
       .logoContainer {
        width: 100%;
       }

       .logo {
        display: block;
        height: 100px;
        margin: 0 auto;
       }

       .content h1 {
         text-align: center;
         color: #202C54;
       }
    </style>
</head>

<body>
  <div class="wrapper">
    <div class="logoContainer">
        <img src="./assets/logo.png" class="logo">

    </div>
    <div class="content">
        <h1>Bienvenue a Valsoria </h1>
    </div>
  </div>
<p style="font-size: 1rem;
               text-align: center; margin: 2rem 0; ">Valsoria BackOffice - propulsé par VALSORIA IMPEX CI</p>
</body>

</html>