<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
</head>

<body>
  <div style="padding: 1rem 0 0 1rem;">
    <div>
      <div>
          <img style="width: 50px;"  src="https://github.com/daydy225/email-webservice/blob/master/assets/logo.png?raw=true">
  
      </div>
      <p>Bonjour !</p>
        <p>Votre code otp est de : <span style="font-size: x-large; font-weight: 700; letter-spacing: 0.2em;">
          <%= otp %>
        </span></p>
    </div>
   
  </div>
  <p style="padding-left: 1rem; padding-bottom: 0; margin-bottom: 0;">Votre Support VALSORIA</p>
  <div style="padding-left: 1rem;">====================</div>
  <p style="font-size: xx-small; padding-left: 1rem; margin-top: 0; padding-top: 0;" class="">Nous prenons la sécurité de votre compte au
    sérieux. Si vous n'avez pas effectué cette action, veuillez contacter notre support client immédiatement. Nous vous
    rappelons de ne jamais partager vos informations de connexion.</p>

<!-- <p style="font-size:x-small;
                   text-align: start; margin: .6rem 1rem 0; ">VALSORIA FINANCE SOLUTION © 2023</p> -->
</body>

</html>